/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  background-color: #e8eaed;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

/*=============================*/ 



nav{
  background-color: rgba(0,0,0,0.5);
}

.nav-link{
  color: white ;
}
.nav-link:hover{
  color: #F44336 ;
}

.shearch-form{
  background-color: rgba(255,255,255,0.5); 
  height: 100px;
}
.shearch-form select, .shearch-form input{
  height: 50px ;
  position: relative;
  top: 20px ;
}
.orange{
  color: #F44336 ;
}
.bg-orange{
  background-color: #F44336 ;
}
.blanc{
  color: #fff ;
}
.bg-blanc{
  background-color: #fff ;
}
.bg-darkgrey{
  background-color: #e8eaed;
}

.partenaire{
  background-color: #F44336 ;
  border-radius: 20px;
}
.searh-submit{
  background-color: #F44336 ;
  color: white;
  font-weight: bold;
}
.slogan{
  font-weight: bold;
  font-size: 40px;
}



.cat-item{
  margin-top: 20px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.cat-item li{
  margin: 5px ;
}

.cat-item-link{
  color: black ;
}
.cat-item-link:hover{
  color: #F44336 ;
}



.titre{
  text-align: center;
}

.titre h1{
  font-size: 1em ;
  padding: 20px;
  border-radius: 20px;

}
.titre h1 a:hover{
  color: #fff ;
}

.bloc-cate{
  border-radius: 15px;
  height: 300px;
}

.bloc-pub{
  border-radius: 15px;
  height: 300px;
}

.list-cate li{
  list-style-type: none;
  cursor: pointer;
}
.list-cate li:hover{
  color: #F44336 ;
}

.list-cate li span{
  color: #F44336;
  font-size: 20px;
  margin-right: 20px;
}



.annonce-item{
  margin: 10px;
  padding:10px;
  border-radius: 15px;
}
.annonce-img{
  width: 150px;
}

.info{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}






/*   pagination */
.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #000;
  margin-left: -1px;
  border: 1px solid #F44336;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}
.modal-3 a {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.modal-3 a:hover {
  background-color: #F44336;
}
.modal-3 a.active, .modal-3 a:active {
  background-color: #F44336;
}
/* End  pagination */

.cart-map{
  text-align: center;
}

.cart-map h1{
  font-size: 1.5em ;
  text-align: center;
}

#map{
  height: 600px;
  width: 100%;
}
.annonceAside{
  text-align: center;
}
.annonceAside h1{
  text-align: center;
  font-size: 1.5em;
}

.annonceAside-item{
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}
.annonceAsideBloc{
}
.annonceAside-item img{
  width: 150px;
}
.annonceAside-item p{
  text-align: justify;
  font-size: 0.8em;
}


.newsletter h1{
  font-size: 1.5em;
  text-align: center;
}
.newsletter{
  text-align: center;
}
.newsletter form{
  text-align: center;
}
#email{
  border-style: none;
  width: 400px;
  height: 40px;
  border-radius: 60px;
  text-align: center;
}